<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Server</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="regServer()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Server URL</span>
          <input type="text" ng-model="serverUrl" placeholder='http://localhost:80'>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
